<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Reviewer</title>
    <link
      rel="icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAEElEQVR4nGISY7oBCAAA//8BKgDzYTyiXQAAAABJRU5ErkJggg=="
      type="image/x-icon"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style>
      li {
        list-style-type: disc;
      }

      .reset-tailwind * {
        all: revert;
      }
    </style>
  </head>
  <body class="w-full h-screen bg-zinc-900 text-zinc-100 relative">
    <div
      class="loading-state w-full absolute t-0 l-0 flex justify-center hidden"
    >
      <div class="loading">Loading...</div>
    </div>
    <div class="main w-full h-screen flex justify-between gap-4 p-16">
      <form class="w-full h-full flex flex-col gap-4">
        <textarea
          name="file"
          id="file"
          class="w-full h-full border rounded-lg px-4 py-2 text-zinc-100"
        ></textarea>
        <div class="flex gap-2">
          <input
            placeholder="prompt"
            id="prompt"
            class="border w-full h-full rounded-lg px-4 py-2 text-zinc-100"
          />
          <button
            id="submit"
            type="submit"
            class="border rounded-lg px-4 py-2 bg-blue-600 text-zinc-200 text-zinc-100 cursor-pointer"
          >
            Submit
          </button>
        </div>
      </form>
      <div
        id="output"
        class="w-full border border rounded-lg overflow-scroll p-3 reset-tailwind"
      ></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
